body {
  font-family: Helvetica,Tahoma;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.aos-all {
  width: 1000px;
  max-width: 98%;
  margin: 50px auto;
}

.aos-item {
  display: inline-block;
  float: left;
  width: 33%;
  height: 300px;
  padding: 20px;
}

.aos-item::before {
  content: attr(data-id);
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background: #1da4e2;
  line-height: 260px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .aos-item {
    width: 50%;
  }
}
