/*
 * Default variables
 */

$duration: .6s;
$easing: ease;

$val-sm: 50px;
$val-md: 80px;
$val-lg: 100vw;




/**
 * Initial settings
 */

[aos].aos-init {
  transition: all $duration $easing;
}





/**
 * Fade animations:
 * fade-in
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */

[aos^='fade'].aos-init {
  opacity: 0;
  &.aos-animate {opacity: 1;}
}

[aos='fade-up'].aos-init {
  transform: translate(0,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down'].aos-init {
  transform: translate(0,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-right'].aos-init {
  transform: translate(-$val-sm,0);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-left'].aos-init {
  transform: translate($val-sm,0);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-up-right'].aos-init {
  transform: translate(-$val-sm,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-up-left'].aos-init {
  transform: translate($val-sm,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down-right'].aos-init {
  transform: translate(-$val-sm,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down-left'].aos-init {
  transform: translate($val-sm,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}




/**
 * Slide animations
 */




/**
 * Flip animations
 */

[aos^='flip'].aos-init {
  backface-visibility: hidden;
}

[aos='flip-left'].aos-init {
  transform: perspective(2500px) rotateY(-100deg);
  &.aos-animate {transform: perspective(2500px) rotateY(0);}
}

[aos='flip-right'].aos-init {
  transform: perspective(2500px) rotateY(100deg);
  &.aos-animate {transform: perspective(2500px) rotateY(0);}
}

[aos='flip-up'].aos-init {
  transform: perspective(2500px) rotateX(-100deg);
  &.aos-animate {transform: perspective(2500px) rotateX(0);}
}

[aos='flip-down'].aos-init {
  transform: perspective(2500px) rotateX(100deg);
  &.aos-animate {transform: perspective(2500px) rotateX(0);}
}