/*
 * Default variables
 */

$duration: .6s;

$val-sm: 50px;
$val-md: 80px;
$val-lg: 100vw;



/**
 * Initial settings
 */

[aos] {
  transition-property: all;
  transition-duration: $duration;
  transition-timing-function: $ease;
}




/**
 * Fade animations:
 * fade
 * fade-up, fade-down, fade-left, fade-right
 * fade-up-right, fade-up-left, fade-down-right, fade-down-left
 */

[aos^='fade'] {
  opacity: 0;
  &.aos-animate {opacity: 1;}
}

[aos='fade-up'] {
  transform: translate(0,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down'] {
  transform: translate(0,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-right'] {
  transform: translate(-$val-sm,0);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-left'] {
  transform: translate($val-sm,0);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-up-right'] {
  transform: translate(-$val-sm,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-up-left'] {
  transform: translate($val-sm,$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down-right'] {
  transform: translate(-$val-sm,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

[aos='fade-down-left'] {
  transform: translate($val-sm,-$val-sm);
  &.aos-animate {transform: translate(0,0);}
}

/**
 * Fade animations with zoom in:
 * fade-zoom-in, fade-up-zoom-in, fade-down-zoom-in, fade-right-zoom-in, fade-left-zoom-in
 */

[aos='fade-zoom-in'] {
  transform: scale(.6);
  &.aos-animate {transform: scale(1);}
}

[aos='fade-up-zoom-in'] {
  transform: translate(0,$val-sm) scale(.6);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-down-zoom-in'] {
  transform: translate(0,-$val-sm) scale(.6);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-right-zoom-in'] {
  transform: translate(-$val-sm,0) scale(.6);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-left-zoom-in'] {
  transform: translate($val-sm,0) scale(.6);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

/**
 * Fade animations with zoom out:
 * fade-zoom-out, fade-up-zoom-out, fade-down-zoom-out, fade-right-zoom-out, fade-left-zoom-out
 */

[aos='fade-zoom-out'] {
  transform: scale(1.2);
  &.aos-animate {transform: scale(1);}
}

[aos='fade-up-zoom-out'] {
  transform: translate(0,$val-sm) scale(1.2);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-down-zoom-out'] {
  transform: translate(0,-$val-sm) scale(1.2);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-right-zoom-out'] {
  transform: translate(-$val-sm,0) scale(1.2);
  &.aos-animate {transform: translate(0,0) scale(1);}
}

[aos='fade-left-zoom-out'] {
  transform: translate($val-sm,0) scale(1.2);
  &.aos-animate {transform: translate(0,0) scale(1);}
}




/**
 * Slide animations
 */





/**
 * Flip animations:
 * flip-left, flip-right, flip-up, flip-down
 */

[aos^='flip'] {
  backface-visibility: hidden;
}

[aos='flip-left'] {
  transform: perspective(2500px) rotateY(-100deg);
  &.aos-animate {transform: perspective(2500px) rotateY(0);}
}

[aos='flip-right'] {
  transform: perspective(2500px) rotateY(100deg);
  &.aos-animate {transform: perspective(2500px) rotateY(0);}
}

[aos='flip-up'] {
  transform: perspective(2500px) rotateX(-100deg);
  &.aos-animate {transform: perspective(2500px) rotateX(0);}
}

[aos='flip-down'] {
  transform: perspective(2500px) rotateX(100deg);
  &.aos-animate {transform: perspective(2500px) rotateX(0);}
}